body {
    margin: 0px;
    padding: 0px;
    height: 97vh;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

html, body {
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    position: relative;
}